<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <mat-card>
                <mat-card-header>
                    <h4>Change Your Password</h4>
                </mat-card-header>
                <hr>
                <form class="form1" [formGroup]="changePasswordForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Old Password</mat-label>
                        <input matInput formControlName="password" placeholder="Old password">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput formControlName="newpassword" placeholder="New password">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm New Password</mat-label>
                        <input matInput formControlName="confirmPassword" placeholder="Confirm new password">
                    </mat-form-field><br>
                    <button mat-raised-button color="primary" class="btn-block" (click)="changePassword()">Save</button><br>
                </form>
            </mat-card>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
