table {
    width: 100%;
  }
  p{
    text-align: center;
  }
  .card-margin{
    margin: 2% 2% 2% 2%;
  }
  .matTable{
    border: 1px solid #E5E7E9;
    }
    
.image{
  text-align: center;
  background-color: white;
  div{
      text-align: center;
      font-size: 30px;
      color: #CACFD2;
      font-weight: 400;
  }
}
  th{
    font-weight: bold;
  }