<div>
    <h2 mat-dialog-title>Table Status</h2>
    <form action="" [formGroup]="tablestatusForm" (ngSubmit)="TableStatus()">
    <mat-dialog-content class="dailogcontent">
        <mat-form-field>
            <input matInput formControlName="tableStatus" (keypress)="keyPressAlphaNumeric($event)" placeholder="Table Status">
        </mat-form-field>
    </mat-dialog-content>
   
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
        <button [mat-dialog-close]="true" cdkFocusInitial type="submit" 
         mat-raised-button color="primary" [disabled]="!tablestatusForm.valid">Save</button>
    </mat-dialog-actions>
</form>
</div>