.div{
  margin:3% 3% 3% 3%;
}
mat-form-field{
  width: 80%;
  margin: 0 4% 0 4%;
}
.form-field{
width: 88%;
margin: 0 4% 0 4%;
}
textarea{
  height: 15px;
}
.button{
  margin-left: 4%;
}

input[type="file"]{
  visibility: hidden;
}
.image-preview img{
  margin-top: 17px;
  height: 200px;
  object-fit: fill;
  width: 250px;
  border-radius: 5px;
}
.image-show img{
margin-top: 40px;
height: 200px;
object-fit: fill;
width: 250px;
border-radius: 10px;
}
textarea{
height: 100px;
}
button{
height: 35px;
border-radius: 3px;
}
.image-upload-button{
width: 90%
}
@import "~bootstrap/dist/css/bootstrap.min.css";
