

table {
    width: 100%;
  }

  td{
    width:5%;
  }

  
  img{
    margin:5px 0px 0px 0px;
    height: 50px;
    width: 50px;
    border-radius: 8px;
  }

  .card-margin{
    margin: 2% 2% 2% 2%;
  }

  mat-toolbar{
    background-color: white;
  }
  p{
    text-align: center;
  }
  .spacer{
    flex: 1 1 auto;
  }
  
.view{  
  cursor: pointer;
  margin: 2px;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 5px;
}

.add{
  margin-left: -5px;
  font-size: 20px; 
}
.newButton{
    margin-left: -2.1%;
    height: 35px;
}
.exportButton{
    height: 35px;
}
.matTable{
border: 1px solid #E5E7E9;
}

.image{
  text-align: center;
  background-color: white;
  div{
      text-align: center;
      font-size: 30px;
      color: #CACFD2;
      font-weight: 400;
  }
}

  th{
    font-weight: bold;
  }