<div>
    <h2 mat-dialog-title>Kitchen Status</h2>
    <form action="" [formGroup]="kitchenStatusForm" (ngSubmit)="KitchenStatus()">
    <mat-dialog-content class="dailogcontent">
        <mat-form-field>
            <input matInput formControlName="kitchenStatus" (keypress)="keyPressAlphaNumeric($event)" placeholder="Kitchen Status">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
        <button [mat-dialog-close]="true" cdkFocusInitial type="submit" 
         mat-raised-button color="primary" [disabled]="!kitchenStatusForm.valid">Save</button>
    </mat-dialog-actions>
</form>
</div>