<div class="container-fluid">
  <section class="team-section text-center my-1">
    <div class="row">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="col-lg-2 col-md-3 col-sm-6 mb-lg-0 mb-5" *ngFor="let table of tables"><br>
        <mat-card class="mat-elevation-z3 card">
          <mat-card-header>
            <span class="spacer"></span>
            <button mat-icon-button class="icon" [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item *ngFor="let tableStatus of tableStatusData"
                (click)=updateStatus(tableStatus.id,table.id)>
                {{tableStatus.tableStatus}}
              </button>
            </mat-menu>
          </mat-card-header>
          <mat-card-title style="font-size: medium;">
            <h3>{{table.tableNumber}}</h3>
          </mat-card-title>
          <mat-card-subtitle>Seating:{{table.sittingCapacity}}</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
    <div class="image" *ngIf="total <= 0">
      <img src="{{noData.image}}" style="height:150px;width: 150px;">
      <div>
        {{noData.noDataFound}}
      </div>
    </div><br><br>
  </section>
  <br>
</div>